In [ ]:
!pip install mysql-connector

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="clustercluster.cluster-cvqpiwbyxdjk.us-east-1.rds.amazonaws.com",
  user="cloud_user",
  passwd="linuxacademy"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [ ]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

In [ ]:
mydb = mysql.connector.connect(
  host="clustercluster.cluster-cvqpiwbyxdjk.us-east-1.rds.amazonaws.com",
  user="cloud_user",
  passwd="linuxacademy",
  database="mydatabase"
)

mycursor = mydb.cursor()

In [ ]:
mycursor.execute("CREATE TABLE BarkTable (Username VARCHAR(255), Timestamp VARCHAR(255))")

In [ ]:
mycursor.execute("ALTER TABLE BarkTable ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
mycursor.execute("ALTER TABLE BarkTable ADD COLUMN Message TEXT")

In [ ]:
sql = "INSERT INTO BarkTable (Username, Timestamp, Message) VALUES (%s, %s, %s)"
val = ("what", "2016-12-18:14:32:18", "This is a bark from the Woofer social network")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
mydb.commit()
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM BarkTable")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)